.idea
__pycache__
.DS_Store
examples/**/*.trace
/_tmp
# Sphinx documentation
# TODO: replace next three lines with /docs/_build/
/docs/_build/.*
/docs/_build/_*
/docs/_build/**.inv
# TODO: RE-ENABLE NEXT LINE
# /docs/algopy-stubs/
# ignore AWST from generated clients
/examples/**/out/out/**/client_*.awst
/test_cases/**/out/out/**/client_*.awst
# ignore bytecode output
/examples/**/out*/*.bin
/test_cases/**/out*/*.bin
# wheel output
/dist
/stubs/dist
# coverage output
.coverage
coverage.xml
# simulate trace files
*.trace.avm.json

build/
