* text=auto eol=lf
examples/**/*.ir linguist-generated=true
examples/**/*.mir linguist-generated=true
examples/**/*.puya.map linguist-generated=true
examples/**/*.log linguist-generated=true
examples/**/*.awst linguist-generated=true
test_cases/**/*.ir linguist-generated=true
test_cases/**/*.mir linguist-generated=true
test_cases/**/*.puya.map linguist-generated=true
test_cases/**/*.log linguist-generated=true
test_cases/**/*.awst linguist-generated=true
