* text=auto eol=lf
examples/**/*.ir linguist-generated=true merge=theirs
examples/**/*.mir linguist-generated=true merge=theirs
examples/**/*.puya.map linguist-generated=true merge=theirs
examples/**/*.log linguist-generated=true merge=theirs
examples/**/*.awst linguist-generated=true merge=theirs
test_cases/**/*.ir linguist-generated=true merge=theirs
test_cases/**/*.mir linguist-generated=true merge=theirs
test_cases/**/*.puya.map linguist-generated=true merge=theirs
test_cases/**/*.log linguist-generated=true merge=theirs
test_cases/**/*.awst linguist-generated=true merge=theirs
