name: Check Python Code

on:
  workflow_call:
  pull_request:
  push:
    branches:
      - main

jobs:
  check-python:
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry

      - name: Set up Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: "poetry"

      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Check pre-commits
        run: |
            set -o pipefail
            poetry run pre-commit run --all-files && git diff --exit-code

      - name: Install algokit
        run: pipx install algokit

      - name: Start LocalNet
        run: algokit localnet start

      - name: pytest + coverage
        shell: bash
        run: |
          set -o pipefail
          poetry run pytest --junitxml=pytest-junit.xml --cov | tee pytest-coverage.txt

      - name: Stop LocalNet
        run: algokit localnet stop

      - name: pytest coverage comment - using Python 3.11 on ubuntu-latest
        if: matrix.python == '3.11' && matrix.os == 'ubuntu-latest'
        continue-on-error: true # forks fail to add a comment, so continue any way
        uses: MishaKav/pytest-coverage-comment@main
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest-junit.xml
