name: "Starlight: Build + publish docs"

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Build documentation
        uses: ./.github/actions/publish-docs

      - name: Upload to GitHub pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs/dist

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
